/* H5对象的全局样式 */
body{
    font-family: "微软雅黑","Microsofot Yahei";
}
.h5{
    height: 100%;
}
.h5_page{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    background-size: 100%;
    background-repeat: no-repeat;
}


.h5_component.h5_component_base.h5_component_name_people.h5_component_base_load{
    left: 35% !important;
}
